.footer-container {
    background-color: #00695c;
    padding: 20px;
    text-align: left;
    color: white;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    gap: 150px;
    padding: 50px;
  }
  
  .footer-content {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: left;
  }
  
  .footer-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
  }
  
  .footer-icons span {
    font-size: 24px;
  }
  